.col
{
	border:1px solid black;
}

.momento_header
{
	border-bottom: 1px solid grey;
	text-align: right;
	color: #339900;
}

.cust_container
{
	padding-top: 15px;
	border-bottom: 1px solid grey;
}

.video_frame
{
}

.description
{
	color: grey;
	font-size: 22pt;
}

.author
{
	font-size: 30pt;
	font-weight: bold;
}

.distance
{
	text-align: left;
	color: grey;
}

.time
{
	text-align: right;
	color: grey;
}

.quotes
{
	width: 30px;
	heigth: 30px;
}
